<!DOCTYPE html>
<html>
<head>
  <title>Mybasic</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Mybasic</title>
       
        <!-- CSS Reset -->
    <link rel="stylesheet" type="text/css" href="<%= Mybasic::Application.config.staticfile_server_url %>admin_style/style/reset.css" media="screen" />      
        <!-- Fluid 960 Grid System - CSS framework -->
    <link rel="stylesheet" type="text/css" href="<%= Mybasic::Application.config.staticfile_server_url %>admin_style/style/grid.css" media="screen" />
    <!-- jquery UI -->
    <link rel="stylesheet" href="<%= Mybasic::Application.config.staticfile_server_url %>jquery/south-street/jquery-ui-1.8.18.custom.css" type="text/css"/>

    <link rel="stylesheet" href="<%= Mybasic::Application.config.staticfile_server_url %>info.css" type="text/css"/>

    <!-- IE Hacks for the Fluid 960 Grid System -->
    <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="<%= Mybasic::Application.config.staticfile_server_url %>admin_style/style/ie6.css" tppabs="http://www.xooom.pl/work/magicadmin/css/ie6.css" media="screen" />
    <![endif]-->
<!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="<%= Mybasic::Application.config.staticfile_server_url %>admin_style/style/ie.css" tppabs="http://www.xooom.pl/work/magicadmin/css/ie.css" media="screen" />
    <![endif]-->
    
    <!-- Main stylesheet -->
    <link rel="stylesheet" type="text/css" href="<%= Mybasic::Application.config.staticfile_server_url %>admin_style/style/styles.css" media="screen" />        
    <!-- WYSIWYG editor stylesheet -->
    <link rel="stylesheet" type="text/css" href="<%= Mybasic::Application.config.staticfile_server_url %>admin_style/style/jquery.wysiwyg.css" media="screen" />
    <!-- Table sorter stylesheet -->
    <link rel="stylesheet" type="text/css" href="<%= Mybasic::Application.config.staticfile_server_url %>admin_style/style/tablesorter.css" media="screen" />
    <!-- Thickbox stylesheet -->
    <link rel="stylesheet" type="text/css" href="<%= Mybasic::Application.config.staticfile_server_url %>admin_style/style/thickbox.css" media="screen" />
    <!-- Themes. Below are several color themes. Uncomment the line of your choice to switch to different color. All styles commented out means blue theme. -->
    <link rel="stylesheet" type="text/css" href="<%= Mybasic::Application.config.staticfile_server_url %>admin_style/style/theme-blue.css" media="screen" />
    <link rel="stylesheet" href="<%= Mybasic::Application.config.staticfile_server_url %>jquery/fullcalendar/fullcalendar.css" type="text/css"/>
    <link rel="stylesheet" href="<%= Mybasic::Application.config.staticfile_server_url %>jquery/validation/validationEngine.jquery.css" type="text/css"/>
    <link rel="stylesheet" href="<%= Mybasic::Application.config.staticfile_server_url %>jquery/fullcalendar/fullcalendar.print.css" type="text/css" media='print'/>
    <link rel="stylesheet" href="<%= Mybasic::Application.config.staticfile_server_url %>jquery/fullcalendar/cupertino/theme.css" type="text/css" media='print'/>
    
        
    <!-- JQuery engine script-->
    <script type="text/javascript" src="<%= Mybasic::Application.config.staticfile_server_url %>jquery/jquery_1.7.1.min.js"></script>
        <script type="text/javascript" src="<%= Mybasic::Application.config.staticfile_server_url %>jquery/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="<%= Mybasic::Application.config.staticfile_server_url %>jquery_ujs.js"></script>      
    <!-- JQuery WYSIWYG plugin script -->
    <script type="text/javascript" src="<%= Mybasic::Application.config.staticfile_server_url %>admin_style/js/jquery.wysiwyg.js"></script>
        <!-- JQuery tablesorter plugin script-->
    <script type="text/javascript" src="<%= Mybasic::Application.config.staticfile_server_url %>admin_style/js/jquery.tablesorter.min.js"></script>
    <!-- JQuery pager plugin script for tablesorter tables -->
    <script type="text/javascript" src="<%= Mybasic::Application.config.staticfile_server_url %>admin_style/js/jquery.tablesorter.pager.js"></script>
    <script src="<%= Mybasic::Application.config.staticfile_server_url %>jquery/validation/languages/jquery.validationEngine-zh_CN.js" type="text/javascript" charset="utf-8"></script>
    <script src="<%= Mybasic::Application.config.staticfile_server_url %>jquery/validation/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="<%= Mybasic::Application.config.staticfile_server_url %>jquery/jquery.ui.datepicker-zh-CN.js"></script>
    <script type="text/javascript" src="<%= Mybasic::Application.config.staticfile_server_url %>jquery/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="<%= Mybasic::Application.config.staticfile_server_url %>jquery/fullcalendar/fullcalendar.min.js"></script>


    <%= csrf_meta_tags %>
</head>
<body>

<!-- Header -->
        <div id="header">
            <!-- Header. Status part -->
            <div id="header-status">
                <div class="container_12">
                    <div class="grid_8">
                        <% if user_signed_in? %>
                        您好,<%= current_user.username %>
                        <% else %>
                        <%= link_to "[登录]", new_user_session_path, :method => :get %> |
                        <%= link_to "[注册]", "/users/sign_up", :method => :get %>
                        <% end %>
                    </div>
                    <div class="grid_4">
                      <% if user_signed_in? %>
                       <%= link_to "[退出]", destroy_user_session_path, :method => 'delete' %>
                      <% end %>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div> <!-- End #header-status -->
	
<!-- devise的提示信息 start -->
 
    <% if flash[:notice] %>
    <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
    <p class="alert"><%= alert %></p>
    <% end %>
    <% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
    <% end %>
    <% if flash[:success] %>
    <p class="success"><%= flash[:success] %></p>
    <% end %>
<!-- devise的提示信息 end -->

<%= yield %>

</body>
</html>
